#------------------------------------------------------------
# arduino
#------------------------------------------------------------

programmer
    id                     = "alamode";
    desc                   = "Alamode";
    type                   = "alamode";
    prog_modes             = PM_SPM;
    connection_type        = serial;
;